@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {

   /* Dimensions */
   --width-full: 100%;
   --width-12col: 1200px;     

   /* Grid Settings */
   --grid-gap: 10px;

   --padding-default: 20px;

   /* Colors */
   --background-color-navigation: #00000088;
   --background-color-light: #ededed;
   --background-color-dark-bg: #111111;
   --primary-color: #bf5b23;
   --color-white: #ffffff;
   --color_dark: #373737;
   --color-light: #ebebeb;


   /* color swatch category */
   --category-seafood: #3E30E2;
   --category-chicken: #249C8E;
   --category-meats: #D09189;
   --category-veg: #298F3F;
   --category-dessert: #9374EB;
   --category-misc: #9A951E;
   --category-pasta: #BF5B23;
}

/* reset CSS */
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color:var(--background-color-dark-bg);
  font-family: "Roboto", sans-serif;
}

.container {
  background-color:var(--background-color-dark-bg);
  width:var(--width-full);
  height:auto;
}

.navigation {
  background-color: var(--background-color-navigation);
  position:relative;
  z-index: 1000;
}

.menu-container {
  width:var(--width-12col);
  margin: 0 auto;
}

.menu-container ul {
  display:flex
}

.menu-container ul li {
  list-style-type: none;
  margin:10px 0 10px 0;
}

.menu-container ul li a {
  color:var(--background-color-light);
  text-decoration: none;
  text-transform: uppercase;
  border-right: 1px solid var(--background-color-light);
  padding: 0 10px 0 10px;
}

.menu-container ul li a:hover {
  color:var(--primary-color);
}

.menu-container ul li:last-child a {
  border-right: none;
}

.hero { /* Parent with 100% width*/
  background-image: url('https://picsum.photos/1920/800');
  width:var(--width-full);
  height:auto;
  min-height:600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  margin-top:-40px;
  color:var(--background-color-light);
} 

.hero-container {/* child to follow to 12 column */
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  width:var(--width-12col);
  gap:var(--grid-gap);
  margin: 0 auto;
} 

.hero-text {
  grid-column: 1 / span 4;
  margin-top:200px;
  grid-row: 1;
}

.hero-text-smallest {
  font-size: 12px;
}

.hero-text-medium {
  font-size: 32px;
  text-transform: uppercase;
  margin-top:15px;
}

.hero-text-large {
  font-size: 37px;
  text-transform: uppercase;
  font-weight: 900;
  margin-top:5px;
  margin-bottom:15px
}

.hero-search {
  grid-column: 2 / span 3;
  margin-top:60px;
  grid-row: 2;
}

.search-input {
  background-color: transparent;
  -webkit-appearance: none;
  outline:none;
  border: 1px solid var(--background-color-light);
  border-radius: 5px;
  padding: 10px 20px 10px 40px;
  color:var(--background-color-light)
}

.search-input::placeholder {
  color:var(--background-color-light);
}

/* Working now, copy this */
.todays_recipe {  
  height: fit-content;
  width:var(--width-full);
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 130px auto;
  gap:var(--grid-gap);
}  /* end copy */

.todays_recipes_content_block_image img {
  height: 200px;
  width:100%;
  background-size: cover ;
  background-position: center;
}

.todays_recipes_headline {
  color:var(--color-white);
  height:60px;
  border-bottom: 1px solid var(--color-white);
  text-transform: uppercase;
  font-weight:700;
  margin-top:70px;
  display:flex;
  align-items: center;
  justify-self: flex-start
}